*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* overflow-y: hidden; */
}

body{
    overflow: hidden;
}


 

#wrapper{
    height:100vh;
    overflow-x: hidden;
    perspective: 10px;
    align-items: start;
}

.btn,#wrapper{
    position: sticky;
    align-items: center;
    
}
.btn{
    transform: translateZ(-40px) scale(5);
}
.logo{
    width: 200px;
    padding-left: 90px;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    align-items: center;
    background-color: #333;
    
}

.nav-items{
    display: flex;
    gap: 2rem;
    padding: 0 4rem;
}
.nav-items div{
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}
.nav-items div a{
    color:white;
}
a{
    text-decoration: none;
}


.container{
    position:relative;
    height: 100%;
    display:flex; 
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    z-index: -1;
}

.background{
    transform: translateZ(-40px) scale(5);
    background-size: cover;
}

.foreground{
    transform: translateZ(-20px) scale(3);
}

.background, .foreground{
    position:absolute;
    height:100%;
    width:100%;
    object-fit: cover;
    z-index:-1;
}

h1{
    position: absolute;
    top:5rem;

    font-size:10rem;
    letter-spacing:4px;
    color:white;
    text-shadow:0 0 10px rgba(0,0,0,0.3);
}

section{
    background-color: rgb(45,45,45);
    color:white;
    padding:5rem 0;
}

.secHeading{
    font-size:5rem;
    padding:0 10rem;
}

.text{
    font-size:1.5rem;
    padding: 0 10rem;
    margin: 5rem 0;
}

.bg{
    position:relative;
    width:100%;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height:500px;
}

.desc{
    position: absolute;
    background-color: white;   
    padding: 0.5rem 2.5rem;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateX(-50%);
    color:black;
    font-size:3.5rem;
    font-weight:600;
}

.bg1{
    background-image: url(sport-1.jpg);
}

.bg2{
    background-image: url(sport-2.jpg);
}

.bg3{
    background-image: url(sport-3.jpg);
}


  
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }


